#book {
    position:relative;
    background-image: url("flip.png");
    width:974px;
    height:641px; 
    text-align: right;
}

#title {
    line-height: 50px;
    padding: 10px;
    position:absolute;
    top: 50px;
    left: 50px;
   float: left;
}

#title li:hover {
  color: orange;
}

#svg {
    position: relative;
    top: 100px;
    right: 50px;
   float: right;
 }

.tooltip {
  position: absolute;
  text-align: left;
  width: 120px;
  height: 30px;
  padding: 8px;
  font: 20px monotype corsiva;
  background: #ddd;

  border-radius: 8px;
  pointer-events: none;
}