#book  {
    position:relative;
    background-image: url("book.png");
    width:954px;
    height:641px;
    text-align: right;
}
#title  {
    position:absolute;
    top:200px;
    left:50px;
   float:left;
}
#title:hover{
  color: orange;
}
#svg {
    position:relative;
    top:100px;
    right:50px;
   float:right;
 }

.tooltip {
  position: absolute;
  text-align: left;
  width: 120px;
  height: 30px;
  padding: 8px;
  font: 20px monotype corsiva;
  background: #ddd;

  border-radius: 8px;
  pointer-events: none;
}